/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{  
		margin: 0;
		padding: 0;
		background: rgba(134, 136, 159, 0.5) none repeat scroll 0% 0%;
	}

	body,input,textarea,select
	{
	}

	header
	{
		margin-bottom: 1.6em;
	}
	
		header h2
		{
			font-size: 3.4em;
		}

		header .byline
		{
			font-size: 1.7em;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		padding: 10em 0 6em 0;
	}

	.homepage #header
	{
		padding: 16em 0 12em 0;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	
		background: transparent url("../images/header.jpg") no-repeat fixed center  center / cover;
		background-color: #5c3b3b; /*rgba(99, 45, 45, 0.7); */
		padding: 16em 0em 12em;
	}
	
	#main h1
	{
		font-size:250%;
		position: relative;
		text-align:center;
		font-family: 'Orbitron';
		z-index: 1;
		color:white;
		
	}
	
	.homepage #content header h2
	{
		padding: 0.70em 0em;
		font-size: 2.2em;
	}

	#sidebar h2
	{
		font-size: 2.4em;
	}

/*********************************************************************************/
/* About me Contenedor                                                                          */
/*********************************************************************************/

#aboutme {
	margin-top: 10%;
 padding: 0;
	box-sizing: border-box;
 -moz-box-sizing: border-box;
 height:600px;
 overflow: auto;
}

#aboutme h1{
	position: relative;
	text-align:center;
	font-family: 'Orbitron';
}

#contenedor {
 margin: 0 auto;
 /*height:200px;
 overflow: hidd;*/
 width: 50%; /* Ancho del contenedor */
}
#contenedor input {
 height: 2.5em;
 visibility: hidden;
}
#contenedor label {
 background: #f9f9f9; /* Fondo de las pestañas */
 border-radius: .25em .25em 0 0;
 color: #888; /* Color del texto de las pestañas */
 cursor: pointer;
 display: block;
 float: left;
 font-size: 1em; /* Tamaño del texto de las pestañas */
 height: 2.5em;
 line-height: 2.5em;
 margin-right: .25em;
 padding: 0 1.5em;
 text-align: center;
}
#contenedor input:hover + label {
 background: #ddd; /* Fondo de las pestañas al pasar el cursor por encima */
 color: #666; /* Color del texto de las pestañas al pasar el cursor por encima */
}
#contenedor input:checked + label {
 background: #f1f1f1; /* Fondo de las pestañas al presionar */
 color: #444; /* Color de las pestañas al presionar */
 position: relative;
 z-index: 6;
}

#conten {
 background: #f1f1f1; /* Fondo del contenido */
 border-radius: 0 .25em .25em .25em;
 min-height: 20em; /* Alto del contenido */
 position: relative;
 width: 100%;
 z-index: 5;
 overflow:visible;
 height: 420px;
}
#conten div {
 opacity: 0;
 padding: 1.5em;
 position: absolute;
 z-index: -100;
}
#conten-1 p {
 clear: both;
 margin-bottom: 1em;
}
#conten-1 p.left img {
 float: left;
 margin-right: 1em;
}
#conten-1 p.last {
 margin-bottom: 0;
}
#conten-2 p {
 float: left;
 width: 48.5%;
}
#conten-2 p.column-right {
 margin-left: 3%;
}
#conten-2 p img {
 display: block;
 margin: 0 auto 1em auto;
}
#conten-3 p,
#conten-3 ul {
 margin-bottom: 1em;
}
#conten-3 ul {
 margin-left: 2em;
}
#contenedor input#tab-1:checked ~ #conten #conten-1,
#contenedor input#tab-2:checked ~ #conten #conten-2,
#contenedor input#tab-3:checked ~ #conten #conten-3 {
 opacity: 1;
 z-index: 100;
}

/*********************************************************************************/
/* Skils                                                                       */
/*********************************************************************************/
	#skills {
	margin-top: 10%;
 padding: 0;
	box-sizing: border-box;
 -moz-box-sizing: border-box;
 height:600px;
 overflow: auto;
 background-color: #1B254B;
}

#skills h1{
	margin-top: 10%;
	position: relative;
	text-align:center;
	font-family: 'Orbitron';
	
}

.wrapper{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 200px;
	height:auto;
	bottom:5px;
	text-align: center;
	color:#fff;
	font-family: 'Orbitron';
	top:5px;
	
}
/* Clase que rodea a la barra de progreso */
.barcontent{
	position:relative;
	background-color: rgba(174, 182, 172, 0.9);
	width: 80px;
	height: 100px;
	/*margin: 30px 10px 0px 80px;*/
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}
/* Barras de progresos*/
#vbar {
	
	width: 80px;
	height: 10px;
	background-color: #1B254B;
	/*margin: 30px 10px 0px 80px;*/
	margin-left:auto;
	margin-right:auto;
}

#vbar2 {

	width: 80px;
	height: 40px;
	background-color: #1B254B;
	/*margin: 30px 10px 0px 80px;*/
	margin-left:auto;
	margin-right:auto;
}

/*#vertgraph {                    
        width: 378px; 
        height: 207px; 
        position: relative; 
        background: url("../images/g_backbar.gif") no-repeat; 
    }
    #vertgraph ul { 
        width: 378px; 
        height: 207px; 
        margin: 0; 
        padding: 0; 
    }
    #vertgraph ul li {  
        position: absolute; 
        width: 28px; 
        height: 160px; 
        bottom: 34px; 
        padding: 0 !important; 
        margin: 0 !important; 
        background: url("../images/g_colorbar3.jpg") no-repeat !important;
        text-align: center; 
        font-weight: bold; 
        color: white; 
        line-height: 2.5em;
    }

    #vertgraph li.critical { left: 24px; background-position: 0px bottom !important; }
    #vertgraph li.high { left: 101px; background-position: -28px bottom !important; }
    #vertgraph li.medium { left: 176px; background-position: -56px bottom !important; }
    #vertgraph li.low { left: 251px; background-position: -84px bottom !important; }
    #vertgraph li.info { left: 327px; background-position: -112px bottom !important; }
    
    */

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		
	}
	
/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
		padding: 6em 0em;
	}
	
	#featured h3
	{
		padding: 1.5em 0em;
		font-size: 1.6em;
	}

	#featured header
	{
		margin-bottom: 3em;
	}
	
	#featured p
	{
		line-height: 2em;
		font-size: 1.2em;
	}
	
/*********************************************************************************/
/* Tweet                                                                         */
/*********************************************************************************/
	
	#tweet
	{
		padding: 6em 0em;
	}

	#tweet blockquote
	{
		margin: 0;
		padding: 1em 4em;
		line-height: 1.5em;
		font-size: 1.8em;
	}	